<title>Актуальные загрузки</title>

{% extends "base.html" %}

{% block page_content %}

{% if user.is_authenticated %}
<h3 align="center">Вы находитесь на странице сайта где указаны все актуальные загрузки ООО "Илмакс"</h3>
<br>
<h1 align="center">Актуальные грузы</h1>
<br>
<div class="row">

    {% for actual in cargo.object_list %}
    <div class="col-md-4">
        <div class="card mb-2">

            <div class="card-body">
                <h5 class="card-title"> {{actual.itinerary}}</h5>
                <p class="card-text"> Дата загрузки: {{actual.date_of_transportation }}</p>
                <p class="card-text"> Контактное лицо: {{actual.customers_contact_person }}</p>
                <p class="card-text"> Груз: {{actual.cargos }} </p>
                <p class="card-text"> Цена: {{actual.price }} {{actual.currency }} {{actual.taxes }}</p>

                <p class="card-text"> Вес, тонн: {{actual.weight }} т, Объем, м3: {{actual.volume }}м3

                <p class="card-text"> Тип загрузки: {{actual.typesofloading }}, Тип выгрузки:
                    {{actual.typesofunloading}}</p>

                <p class="card-text"> Примечание: {{actual.note }}</p>


            </div>
        </div>
    </div>

    {%endfor%}
</div>


{% if is_paginated %}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
            <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Назад</a>
        </li>


        {% for n in cargo.paginator.page_range %}
        {% if cargo.number == n %}
        <li class="page-item active">
            <a class="page-link" href="?page={{n}}">{{n}} <span class='sr-only'>(current)</span></a>
        </li>
        {% elif n > cargo.number|add:-3 and n < cargo.number|add:3 %}

        <li class="page-item">
            <a class="page-link" href="?page={{n }}">{{ n }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not next_url %} disabled {% endif %}">
            <a class="page-link" href="{{next_url}}" tabindex="-1" aria-disabled="true">Дальше</a>
        </li>

    </ul>
</nav>
{% endif %}
{% else %}

<h3 align="center"><a style="font-style:italic">Зарегистрируйтесь и войдите под своей учетной записью,
    тогда Вы будете иметь возможность посмотреть актуальные грузы и разместить свое объевление о свободном транспорте</a></h3>
{% endif %}
{% endblock %}