<title>О Компании</title>
{% extends "base.html" %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'other/css/style_about_the_company1.css' %}">
<h1 align="center"><em>О компании</em></h1>
<p><h5>ООО «Илмакс»</h5> Это один из ключевых производителей сухих строительных смесей Республики Беларусь.
По объему продаж входит в тройку крупнейших производителей Республики Беларусь.
Наша история – наш опыт.Предприятие было создано в 1992 году, а с 1997 года компания запустила собственное производство сухих строительных
смесей.<img src ="{% static 'other/images/about_the_company1.jpg' %}" style='float:right' width = "450" height = "200">
<p><h5>Производственный комплекс в г. Жодино совершенствовался с каждым годом, и сегодня он представляет собой
    производство,
    соответствующее европейским нормам, где используется современное оборудование и программное обеспечение.
    Процесс производства и фасовки полностью автоматизирован.</h5>


<p><h5>В 2015 году было завершено строительство собственного логистического центра в г.п. Колодощи.</h5>
<img src ="{% static 'other/images/about_the_company3.jpg' %}" width = "450" height = "200">
<p><h5>Прочное партнерство – оправданный подход</h5>
С самого начала основания приоритетом для компании стало установление прочных партнерских отношений с клиентами и
развитие долгосрочного взаимовыгодного сотрудничества.

Этот подход оправдался: на протяжении многих лет Партнерами ООО «Илмакс» являются крупные оптовые компании,
строительные организации, розница и DIY.

Сегодня сухие строительные смеси ilmax представлены во всех регионах Беларуси, Активно развивается и экспорт:
продукция поставляется в Россию, Азербайджан, ЕС.<br>

<p><h5>Широкий ассортимент</h5>
<img src ="{% static 'other/images/about_the_company2.jpg' %}" width = "450" height = "200">
<br>Илмакс - динамично развивающаяся и гибкая компания, идущая в ногу со временем и учитывающая изменяющиеся потребности
рынка.
Ассортимент компании включает материалы для строительства любого масштаба. Технический центр постоянно работает над
совершенствованием существующих составов (с учетом мнений потребителей) и разрабатывает новые.
Сегодня одним из направлений развития является разработка специализированных составов, предвосхищая потребности
современного строительства.

<p><h5> Стабильное качество</h5>
Среди основных целей деятельности компании Илмакс - постоянное улучшение качества продукции.
Передовая в Беларуси система подготовки и обработки сырья и автоматизированное производство;
две лаборатории, в том числе аккредитованная, и многоуровневый контроль при производстве,
все это обеспечивает стабильно высокое качество сухих строительных смесей.
<br><br><br>
{% endblock %}