    <title>Контакты</title>
{% extends "base.html" %}
{% block page_content %}
{% load static %}


<img src="{% static 'other/images/ilmax_contacts1.jpg' %}" width = "700" height = "200">
<p><h1>Реквизиты компании</h1>
<p><i>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ИЛМАКС» (ООО «ИЛМАКС»)</i></p>
<p><i>Юридический адрес: 223050, Минская обл., Минский р-н, Колодищанский с/с, аг. Колодищи, ул. Хуторская, 1/3, каб.
    402</i></p>
<p><i>УНН 100070995, ОКПО 14504810</i> </p>
<p><i>Р/с BY09PJCB30120151321000000933 в ЦБУ № 100 ОАО «Приорбанк», BIK (SWIFT) PJCBBY2X, г.Минск, ул.Радиальная, 38А, УНН
    100220190 </i></p>
<p><i>Почтовый адрес: Республика Беларусь, 223050, Минский район, г/п Колодищи, ул. Хуторская, 1/3, а/я 35</i> </p>
<p><i>Время работы:</i> </p>
<p><i>пн-пт: 8.30 - 17.00</i> </p>

<h3>Карту проезда на склад в а.г. Колодищи, ул. Хуторская,1 можно скачать здесь<img src="{% static 'other/images/karta_logo.png' %}" width = "50" height = "50"> <a href='https://cloud.mail.ru/public/BsRe/mYK592Ms7' style="color:#0000FF">Карта</a></h3>
<h3>Телефон приемной <img src="{% static 'other/images/telephone_logo.png' %}" width = "50" height = "50"><a href="tel:+375(17)336-17-00"  style="color:#0000FF">+375(17)336-17-08</a></h3>
<h3>Адрес электронной почты:<img src="{% static 'other/images/mail_logo.png' %}" width = "70" height = "50"> <a href="mailto:office@ilmax.by" style="color:#0000FF">office@ilmax.by</a></h3>
<!-- Подключение статических файлов фоток -->
<h3>Социальные сети:
    <a href="https://vk.com/ilmax_by"><img src="{% static 'other/images/vk_logo.png' %}" width = "50" height = "50"></a>
    <a href="https://www.instagram.com/ilmax_by/"><img src="{% static 'other/images/insta_logo.png' %}" width = "50" height = "50"></a>
    <a href="https://www.youtube.com/channel/UCT5jX4NssvFiyOMXg6ijkBQ?view_as=subscriber"><img src="{% static 'other/images/youtube_logo.png' %}" width = "50" height = "50"></a>
    <a href="https://t.me/ilmax_by"><img src="{% static 'other/images/telegram_logo.png' %}" width = "50" height = "50"></a></h3>


    {% endblock %}
